@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #2e8d83; /* Teal from the house */
    --color-secondary: #FFFFFF; /* White from the cross */
    --color-active: #46e2d3;
    --color-accent: #e8f1f1; /* Light gray background */
    --color-dark: #263238; /* Dark gray for contrast */
    --color-light: #ffffff; /* Very light gray for highlights */
  }

  body {
    background-color: var(--color-accent);
    color: var(--color-dark);
    font-family: 'Poppins', sans-serif, 'Arial';
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  .btn-primary:hover {
    background-color: #20806A; /* Darker teal for hover */
  }
  .btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-dark);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--color-primary);
  }
  .btn-secondary:hover {
    background-color: #E0E0E0; /* Light gray hover */
  }
}

/* Utility classes for custom colors */
.bg-primary { background-color: var(--color-primary); }
.text-primary { color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.text-secondary { color: var(--color-secondary); }
.bg-accent { background-color: var(--color-accent); }
.text-accent { color: var(--color-accent); }
.bg-dark { background-color: var(--color-dark); }
.text-dark { color: var(--color-dark); }
.bg-light { background-color: var(--color-light); }
.text-light { color: var(--color-light); }